<!DOCTYPE html>
<html>
  <head>
    <title>Opiyn - Text Cloud</title>

    <link rel="stylesheet" href="../src/opiyn-text-cloud.css" />

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../src/opiyn-text-cloud.js"></script>
    <script type="text/javascript">
      'use strict';

      angular
        .module('opiyn-example-app', ['opiyn-text-cloud'])
        .controller('MainController', MainController);

      function MainController ($log) {
        var vm = this;

        vm.opiyns = [
          { id:  1, active: false, text: "Mini climate with varied shrubs", usage:  2 },
          { id:  2, active: true , text: "Amazing design",                  usage:  2 },
          { id:  3, active: false, text: "Best electronic components",      usage:  2 },
          { id:  4, active: false, text: "Doesn’t make skin oily",          usage:  1 },
          { id:  5, active: false, text: "insanely reasonable prices",      usage:  2 },
          { id:  6, active: true , text: "sdsdsd",                          usage:  1 },
          { id:  7, active: false, text: "asdasdasd",                       usage:  2 },
          { id:  8, active: false, text: "a",                               usage:  2 },
          { id:  9, active: true , text: "q",                               usage:  1 },
          { id: 10, active: false, text: "Chat Masal",                      usage:  1 },
          { id: 11, active: false, text: "Chat Masalaa",                    usage:  1 },
          { id: 12, active: false, text: "Chat Masala",                     usage:  1 },
          { id: 13, active: false, text: "Chunky",                          usage:  1 },
          { id: 14, active: true , text: "fast service",                    usage: 11 },
          { id: 15, active: false, text: "Cool show",                       usage:  1 },
          { id: 16, active: true , text: "Great movie",                     usage:  1 },
          { id: 17, active: false, text: "awesome",                         usage:  9 },
          { id: 18, active: false, text: "Good",                            usage:  5 },
          { id: 19, active: false, text: "Returning the activity",          usage:  1 },
          { id: 20, active: false, text: "nothing to say",                  usage:  1 },
          { id: 21, active: false, text: "to watch out for",                usage:  1 },
          { id: 22, active: true , text: "csbcbsvhsbvjsbcjs",               usage:  5 },
          { id: 23, active: false, text: "gxhdhd",                          usage:  9 },
          { id: 24, active: false, text: "amazingly super",                 usage:  1 }
        ];

        vm.opiynSelected = function (opiyn) {
          $log.info('Opiyn selected', opiyn);
          opiyn.active = !opiyn.active;
        };

        vm.moreOpiyns = function () {
          var opiynsCount = vm.opiyns.length;
          for (var i = 0; i < opiynsCount; i++) {
            vm.opiyns.push({
              id: vm.opiyns[i].id + i + 1,
              active: !vm.opiyns[i].active,
              text: vm.opiyns[i].text,
              usage: vm.opiyns[i].usage
            });
          }
        };

        $log.info('(o) - MainController loaded')
      }
    </script>
  </head>
  <body ng-app="opiyn-example-app">
    <h1>Opiyn - Text Cloud</h1>
    <div ng-controller="MainController as main">
      <o-text-cloud content="main.opiyns" on-click="main.opiynSelected(item)"></o-text-cloud>
      <p style="text-align: center">
        <button ng-click="main.moreOpiyns()">More opiyns</button>
      </p>
    </div>
  </body>
</html>
