/* Opiyn color: rgb(252,191,49) ~> #FCBF31 */
o-text-cloud {
  display: block;
}

.o-text-cloud {
  background-color: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  width: 300px;
}

.o-text-cloud-element {
  cursor: pointer;
  padding: 5px;
  vertical-align: middle;
}

.o-text-cloud-element:focus {
  outline: none;
}

.o-text-cloud-element:hover {

}

.o-text-cloud-element.active {
  color: #FCBF31;
}

.o-text-cloud-element:after {
  content: ', ';
}

.o-text-cloud-element:last-child:after {
  content: '';
}
